<template name="main">
<body>  
<div class="row">
<div class="large-12 columns">
<div class="row">
<div class="large-12 columns">
<nav class="top-bar" data-topbar>
<ul class="title-area"> 
<li class="name">
<h1><a href="/">Ecommerce Shop</a></h1>
</li>
<li class="toggle-topbar menu-icon">
<a href="/"><span>menu</span></a>
</li>
</ul>
<div class="top-bar-section">  
<ul class="right">
<a href="/cart"><i class="fi-shopping-cart"></i> Your Cart </a>
</ul>
</div>  
</nav> 
</div>
</div>
<hr/> 
{{> yield }}
<footer class="row">
<div class="large-12 columns">
<hr/>
<div class="row">
<div class="large-12 columns">
<a href="/about"><label class="about">About</label></a>
<a href="/faq"><label class="faq">Frequently Asked Questions</label></a>
<a href="mailto:richie.mccoll@hotmail.co.uk"><label class="contact">Contact</label></a> 
{{#if currentUser}}   
<a href="/logout"><label class="logout">Log Out</label></a>
{{else}}
<a href="/login"><label class="login">Log In</label></a>
{{/if}}
</div>
</div>
</div>
</footer>   
</div>
</div>
</body>
</template>