/* CSS declarations go here */
nav.top-bar, button.radius {
  background-color: #03A9F4;
  font-weight: normal;
}

a.button.radius {
  background-color: grey;
  text-align: center;
  color: white;
}

i.shopping-cart, .fi-shopping-cart:before, a {
  color: white;
  background-color: #03A9F4;
  margin-right: 5px;
  position: center;
  font-weight: normal;
}

td {
    text-align:right;
}

table.center,  {
    margin-left:auto; 
    margin-right:auto;
  }

h5, label {
  /* Magic! */
  position: relative;
  color: black;
/*   color: rgba(255, 255, 255, 0.3); */
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

h5:hover, h5.active, a.button.radius:hover, a.button.radius.active, label:hover, label.active {
  color: #03A9F4;
}

h5:after, a.button.radius:after, label:after {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  -moz-transition: -moz-transform 0.3s cubic-bezier(0.61, 0, 0.405, 1.63);
  -o-transition: -o-transform 0.3s cubic-bezier(0.61, 0, 0.405, 1.63);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.61, 0, 0.405, 1.63);
  transition: transform 0.3s cubic-bezier(0.61, 0, 0.405, 1.63);
}

h5.active:after, a.button.radius.active:after, label.active:after {
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

footer {
  text-align: center;
}