<template name="productPage">
<div class="row">  
<div class="large-6 columns">
<img src="http://placehold.it/500x500&amp;text=Thumbnail">  
</div>
<div class="large-6 columns">
<h4>{{name}}</h4>
<h6> ${{price}} </h6>  
<p> {{description_1}} </p>
<p> {{description_2}} </p>
<p> {{description_3}} </p>  
<p><a href="#" class="button radius">Add to Cart</a></p>
</div>
</div>  
</template>