<template name="orderConfirmation">
<div data-alert class="alert-box success radius">
  Your Order has been placed! Please check your email for the download link.
</div>  
<div class="row">
<div class="large-5 columns">
<div class="panel">
<h5>Your Cart Items</h5>
</div>
</div>
<div class="large-7 columns">  
{{> cartItems }}
</div>
</div>
<div class="row">
<div class="large-4 columns">
<div class="panel">  
{{> totalCartPrice }}
</div>
</div>
</div>
<div class="row">
<div class="large-4 columns">
<a href="#" class="button radius">Print Receipt</a>
</div>
</div>
</template>

<template name="cartItems">
{{#each cartItems}}
<div class="panel">
<h6> {{productName}} - ${{productPrice}} </h6>
</div>
{{/each}}  
</template>

<template name="totalCartPrice">
{{#each sessionCartTotal}}  
<h7> Total - ${{total}} </h7>
{{/each}} 
</template>