<template name="about">
<div class="large-12 columns">
<p>We sell RDP accounts. We provide UK/EU/US based dedicated servers. Fast browsing and downlading speed as we have unmetered bandwidth and 1gbps connection speed.</p> 
<p>We try to keep everything updated, please let us know if you had any bad experiences with one of our RDPs. Finally we request that our customers keep their accounts clean and avoid illegal actvities. </p>
<p>(note: we WILL monitor and possibly disable your account should we notice any unusual activity. You have been warned. )</p>
<p> If you have any specific questions, please visit the FAQ to see if it has already been answered and if not please click the contact link down below to send us an email. </p>
<p> All payments are made securely through Stripe. In the future we will be looking to add both Paypal and bitcoin as payment options. We do not store any credit card details. </p>  
</div>
</template>