<template name="contact">
<p> We'd love to hear from you. If you have a specific question or business enquiry regarding our RDP service then please submit the below form and we will get back to you as soon as we can. </p>
<div class="row">
  <div class="large-12 columns">
    <input type="text" placeholder="Your Name">
    <input type="text" placeholder="Your Email">
    <input type="text" placeholder="Your Message">
    <a href="mailto:richie.mccoll@hotmail.co.uk" class="button radius">Click to send via Email Client</a>
</div>
</div>
</template>