<template name="faq">
<h3> A selection of Frequently asked questions.</h3>
<p> To avoid any confusion, when making the payment with Stripe you will be redirected to here. </p>
<hr/>
<h5> I am a new customer who has just bought a subscription when will I get the log in details? </h5>
<p> All orders are manually processed and we operate 9 to 6 EDT time 7 days a week. If you have ordered outwith those hours then it will be next working day, we create the accounts with usernames based on your sign up details. Please be patient. </p>
<h5> Can I change the login password? </h5>
<p> Yes it is best practice to do this as soon as you have logged in. </p>
<h5> My payment was refunded to me a couple of hours after I purchased, why was this? </h5>
<p> Any refunds will have been made due to the fact you have either breached our fraud detection or because the server location you have ordered is at capacity.</p>
<h5> Why can't I change some Remote Desktop settings? </h5>
<p> We control those settings.</p>
<h5> My login is no longer working, why is this? </h5>
<p> Either your subscription has ran out or we have noticed unusual activity in our logs related to your login.
We will send an email if we disable your account, if you have no email please contact us with your ref number (on receipt email). </p>
<h5> Do I have root access to the account? </h5>
<p> Yes, all accounts come with administrator access meaning you can install any software or use it anyway you like, aslong as it falls within   the spectrum of LEGAL activity. We do keep logs and will pass on relevant info to Law enforcement should they need it. </p>
</template>