<template name="cart">
<div class="row">
<div class="large-5 columns">
<div class="panel">
<h5>Your Cart Items</h5>
</div>
</div>
<div class="large-7 columns">  
{{> cartItems }}
</div>
</div>
<div class="row">
<div class="large-4 columns">
<div class="panel">  
{{> totalCartPrice }}
</div>
</div>
</div>
<div class="row">
<div class="large-4 columns">
{{#if currentUser}} 
<a href="/checkout" class="button radius">Proceed to Checkout</a>
{{else}}
<a href="/newCustomer" class="button radius">New Customer?</a>
{{/if}}   
</div>
</div>
<div class="row">
<div class="large-5 columns">
<a href="#" class="button alert">Empty Cart Contents</a>  
</div>
</div>
</template>

<template name="cartItems">
{{#each cartItems}}
<div class="panel">
<h6> {{productName}} - ${{productPrice}} </h6>
</div>
{{/each}}  
</template>

<template name="totalCartPrice">
{{#each sessionCartTotal}}  
<h7> Cart Total - ${{total}} </h7>
{{/each}} 
</template>