<template name="shop">
<div class="row">
<div class="large-4 small-12 columns">
<img src="http://placehold.it/500x500&amp;text=Logo">
<div class="hide-for-small panel">
<h3>Shop Name</h3>
<h5 class="subheader"><p>We sell RDP accounts. We provide UK/EU/US based dedicated servers. Fast browsing and downlading speed as we have unmetered bandwidth and 1gbps connection speed RDP.</p> 
<p>We try to keep everything updated, please let us know if you had any bad experiences with one of our RDPs. Finally we request that our customers keep their accounts clean and aviod illegal actvities. </p>
<p>(note: we WILL monitor and possibly disable your account should we notice any unusual activity. You have been warned. )</p> </h5>
</div>
</div> 
<div class="large-8 columns">
<div class="row">
{{> products}}
</div> 
</div>
</div>
</template>

<template name="products">
{{#each products}}
<div class="large-4 small-6 columns">
<div class="selectedProduct">  
<!-- <img src="https://s3.amazonaws.com/richiemccollbucket/windows_vista_logo2.jpg"> -->
<img src="{{picture_url}}"> 
<div class="panel">
<a href="/products/{{_id}}"><h5>{{name}}</h5></a>
<h6> ${{price}} </h6>
<a href="#" class="button radius">Add to Cart</a>
</div>
</div>
</div>
{{/each}}
</template>