<template name="login">
<div class="row">
<div class="large-12 columns">
<div class="panel">
{{> loginForm }}  
</div>
</div>
</div>
</template>  

<template name="loginForm">
<div class="row">
<div class="large-6 columns">
<h7> Existing Customer? Please Log In </h7>
<hr/>  
<label>Your Email
<input name ="email" type="text"/>
</label>
  
<label>Password 
<input name ="password" type="password"/>
</label>  

<button type="submit" class="button radius" value="login">Log In</button>   
</div>
</div>
</template>